body.authentication-bg-pattern {
  background-color: #000000;
}

.navbar-custom {
  background-color: #000000 !important;
}

.btn-primary {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.btn-primary:hover {
  color: #fff;
  background-color: #000000;
  border-color: #000000;
}

.nav-pills .nav-link.active, .nav-pills .show > .nav-link {
	color: #fff;
  	background-color: #000000;
}